wp-content/updraft/

wp-content/uploads/*
wp-config*
.user.ini
*.zip
.vscode/settings.json
*.sql



!wp-content/uploads/multiple-styles-icon.png 
!wp-content/uploads/thermal-break-icon-small-1.png
!wp-content/uploads/hurricane-impact-icon-small-1.png
!wp-content/uploads/Ease-of-Operation-icon-small-1.png
!wp-content/uploads/monster-sizes-icon-small.png
!wp-content/uploads/BACKGROUND-ALL-isos-menu-1-1024x411.png